<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <h6 class="p-2">User List</h6>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-info">Add User</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>DOJ</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of userList; track $index) {
                            <tr>
                                <td>{{ item.department }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.gender }}</td>
                                <td>{{ item.mobile }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.doj }}</td>
                                <td>{{ item.status ? 'Active' : 'InActive'}}</td>
                                <td class="text-center">
                                    <i class="fa fa-edit text-primary" (click)="onEdit(item)"></i> ||
                                    <i class="fa fa-trash text-danger" (click)="onDelete(item.id)"></i>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4"> 
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <h6>{{ editMode ? 'Update User' : 'Add User' }}</h6>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-info" (click)="onResetForm(userForm)">RESET</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="col-6">
                            <select class="form-select" name="department" required [(ngModel)]="user.department">
                                <option value="">Select Department</option>
                                @for (item of departmentList; track $index) {
                                <option>{{item}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" name="name" class="form-control" required [(ngModel)]="user.name"
                                placeholder="Name" id="">
                        </div>
                        <div class="col-6">
                            <input type="text" name="mobile" class="form-control" required [(ngModel)]="user.mobile"
                                placeholder="Mobile" id="">
                        </div>
                        <div class="col-6">
                            <input type="email" name="email" class="form-control" required [(ngModel)]="user.email"
                                placeholder="Email" id="">
                        </div>
                        <div class="col-6">
                            <input type="date" name="doj" class="form-control" required [(ngModel)]="user.doj"
                                placeholder="DOJ" id="">
                        </div>
                        <div class="col-6">
                            <div class="form-check form-check-inline">
                                <input type="radio" name="gender" class="form-check-input" [(ngModel)]="user.gender"
                                    value="male" required placeholder="Gender" id="">
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="gender" class="form-check-input" value="female"
                                    [(ngModel)]="user.gender" required placeholder="Gender" id="">
                                <label class="form-check-label">Female</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <select class="form-select" required [(ngModel)]="user.city" name="city">
                                <option value="">Select City</option>
                                @for (item of cityList; track $index) {
                                <option>{{item}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" name="salary" required [(ngModel)]="user.salary" placeholder="Salary"
                                class="form-control" id="">
                        </div>
                        <div class="col-12">
                            <textarea id="address" cols="5" rows="3" name="address" [(ngModel)]="user.address"
                                class="form-control" required placeholder="Address">
                                </textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="status" [(ngModel)]="user.status"
                                    required id="">
                                <label class="form-check-label">Active ?</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">{{ editMode ? 'Update' :
                                'Save'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>